/*@import url('./reset.css');
@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
.gallery-section {
  padding: 36px 156px;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
}
.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 24px;
}
.search-input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  padding-left: 16px;
}
.search-input::placeholder {
  color: #808080;
}
.search-input:hover {
  border: 1px solid #000;
}
.search-input:focus,
.search-input:active {
  border: 1px solid #4e75ff;
}
.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 42px;
  background-color: #4e75ff;
  border-color: transparent;
}
.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  color: #4e75ff;
  position: relative;
  margin: 0 auto;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #1aff00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0.2em currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0.2em currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0.2em currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0.2em currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0.2em currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0.2em currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0.2em currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0.2em currentcolor;
  }
}
.gallery-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-item a {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  max-width: 360px;
  max-height: 200px;
}

.simple-lightbox img {
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
}

.info {
  display: flex;
  gap: 24px;
  padding: 4px 24px;
  text-align: center;
}
.load-btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.load-btn:hover,
.load-btn:focus {
  background-color: #6c8cff;
}
.is-hidden {
  display: none;
}*/

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter Tight', sans-serif;
  color: #fafafa;
  background-color: #1c1d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.section-about {
  padding-top: 32px;
  padding-bottom: 32px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.box {
  margin-bottom: 32px;
}
.text-wrapper {
  border-radius: 24px;
  background-color: #242527;
  padding: 32px 32px 272px 32px;
  margin-bottom: 16px;
}
.main-text-about {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 279px;
}
.red {
  color: #ed3b44;
}
.grey {
  color: rgba(250, 250, 250, 0.4);
}
.about-foto {
  border-radius: 24px;
}
.about-me-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.about-me-item {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  position: relative;
  padding-top: 20px;
  padding-bottom: 44px;
}
.ac.is-active .ac-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#subtitle-about {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 16px;
}
.ac-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
.svg-wrapper {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
}
#subtitle-about::after {
  content: '';
}
#about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.swiper-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
#skills-list {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
#skills-item {
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .swiper-slide-active {
  background-color: #ed3b44;
} */
.skills-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.swiper-button-next {
  cursor: pointer;
  right: 0;
  top: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
}
.swiper-button-next::after {
  content: '';
  color: transparent;
}
.swip-wrap {
  display: flex;
  gap: 55px;
  align-items: center;
  background-color: transparent;
  position: relative;
}
.swip-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
}
.icon-btn-right {
  stroke: #3b3b3b;
  fill: #3b3b3b;
}
@media screen and (min-width: 768px) {
  .section-about {
    padding-bottom: 48px;
  }
  .box {
    margin-bottom: 64px;
  }
  .text-wrapper {
    padding: 64px 64px 436px 64px;
  }
  .main-text-about {
    max-width: 576px;
    font-size: 38px;
    line-height: 1.05;
  }
  .about-me-list {
    margin-bottom: 64px;
  }
  .about-me-item {
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .swip-wrap {
    gap: 64px;
  }
  .swiper-button-next {
    right: -10px;
  }
  .swip-btn {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .icon-btn-right {
    width: 40px;
    height: 40px;
  }
  #skills-item {
    max-width: 200px;
    height: 200px;
  }
  .skills-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about {
    padding-top: 48px;
    padding-bottom: 82px;
  }
  .box {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }
  .main-text-about {
    max-width: 552px;
  }
  .about-me-list {
    margin-bottom: 96px;
  }
  .swip-wrap {
    margin-left: 32px;
    margin-right: 32px;
    gap: 72px;
  }
  .swiper-button-next {
    right: -15px;
  }
}
